.container-nav{
	width: 100%;
    height: 60px;	
}

body{
	background-color:rgb(253, 242, 219);
}

/*Personalizza la larghezza della barra di scorrimento*/
::-webkit-scrollbar {
    width: 10px; 
    height: 10px;
}

/* Personalizza l'aspetto del tracciato della barra di scorrimento */
::-webkit-scrollbar-track {
    background-color: white; 
}

::-webkit-scrollbar-thumb {
    background-color: orange; 
    border-radius: 10px;
} 

 .contenitoreCopertinaDescrizione{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
 }
 
 .descrizione{
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
 }
 
 .riga{
	display: flex;
	flex-direction: row;
	align-items: center;
 }

#riquadro {
    flex: 1; 
    margin-right: 20px; 
}

.colonna {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 20px;
}



#cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

.card {
	height: 150px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-sizing: border-box;
    margin: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100%;
}

@media screen and (min-width: 600px) {
 .contenitoreCopertinaDescrizione{
	flex-direction: row;

 }
}





