<!DOCTYPE html>
<html>
	<head>
		<title>Aggiungi Ricetta</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/global.css">
		<link rel="stylesheet" href="/css/formNewRicetta.css">
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	</head>
	<body>
	<!-- INTESTAZIONE -->
	<header class="header">
        <div class="icona"><img src="/images/titolo.png" width="40%" style="padding-bottom: 15px;"/></div>
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/ricetta">Ricette</a></li>
            <li><a href="/cuoco">Cuochi</a></li>
			<div th:if="${userDetails}">
				<li>
					<a href="/logout">
						<i class='bx bx-log-out' style="font-size: 1.4rem;"></i>
					</a>
				</li>
			</div>
			<div th:if="${userDetails}">
				<li>
					<a href="/dettagliUser">
						<i class='bx bxs-user-detail' style="font-size: 1.4rem;"></i>
					</a>
				</li>
			</div>
			<div th:unless="${userDetails}">
				<li>
					<a href="/login">
						<i class='bx bx-log-in'	style="font-size: 1.4rem;"></i>
					</a>
				</li>
			</div>
        </ul>
    </header>
	<!--CORPO-->
<!--	<div class="container-nav"></div>-->
<!--	<div class="body">-->
<!--		<div class="wrapper">-->
<!--			<h1>Aggiungi una Immagine</h1>-->
<!--			<form th:action="@{'/newImage' + '/'+${ricetta.id}}" method="POST" th:object="${ricetta}" enctype="multipart/form-data">-->
<!--				<span><input name="file" type="file"  accept="image/png , image/jpeg" required  /></span>-->

<!--				<div>-->
<!--					<span><button type="submit">Conferma</button></span>-->
<!--				</div>-->
<!--			</form>-->
<!--		</div>-->
<!--	</div>	-->
	
	<div class="body">
				<div class="wrapper">
					<div class="container">
					    <div class="card">
							<h2>Aggiungi Immagine</h2>
							<form class="form-container" th:action="@{'/newImage' + '/'+${ricetta.id}}"method="POST" th:object="${ricetta}" enctype="multipart/form-data">
						  		<div th:if="${#fields.hasGlobalErrors()}">
						  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
						  		</div>
<!--								<span><input name="file" type="file"  accept="image/png , image/jpeg" required  /></span>-->
<!--								<button type="submit" class="submit-button">Conferma</button>-->
								<label for="file-upload" class="custom-file-upload">
								    Scegli File
								</label>
								<span><input name="file" type="file" id="file-upload" accept="image/png , image/jpeg" required style="display:none;" onchange="updateFileName(this)" /></span>
<!--								<input type="file" id="file-upload"	accept="image/png,image/jpeg" style="display:none;" onchange="updateFileName(this)" />-->
								<button type="submit" class="submit-button">Conferma</button>
							</form>
						</div>
					</div>
				</div>
		</div>
	</body>
	
	<script>
		function updateFileName(input) {
		    var fileName = input.files[0].name;
		    var label = document.querySelector(".custom-file-upload");
		    label.textContent = fileName;
		}
	</script>
</html>